<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gladman.mobile.smcfluclinics" version="0.0.1" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Flu Clinics</name>

    <description>
        Find flu shot clinics near you in San Mateo County.
    </description>
    
    <author email="greg@gladman.com" href="http://www.gladman.com">
        Greg Gladman
    </author>
    
    <content src="index.html" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />

    <access origin="*" />

    <allow-navigation href="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <icon src="logo.png" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.12" />
    <gap:plugin name="com.capgemini.plugins.toast" version="2.0.2" />

</widget>
