@charset "utf-8";

[data-role='page'] {
    display: none;
}

#splash, body { background-color: mediumseagreen; }

#splash {
    display: block;
    text-align: center;
    float: center;
    height: 100%;
    width: 100%;
}

.splash_large {
    font-size: 6vh;
}

#splash_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
    margin-top: -25vh;
    margin-left: -25vh;
}

#app-title {
    font-weight: normal;
}

#map-page { width: 100%; height: 100%; padding: 0; text-shadow: none; background-color: blue; }

#map {
    position : absolute;
    top      : 40px;
    right    : 0;
    bottom   : 0px;
    left     : 0;
}

#detailcontent {
    position: relative;
    width: 96%;
    height: 96%;
    left: 2%;
    top: 2%;
    overflow-y: scroll;
}

.clinic-title {
    font-weight: bold;
    font-size: 18px;
}

.clinic-header {
    font-weight: bold;
    font-size: 16px;
}

.transparentButton {
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.greenheader {
    background: mediumseagreen !important;
}

.abouttext {
    font-weight: light;
}

.smalltext {
    font-size: 11px;
}

.clinic-detail {
    width: 100%;
    height: 100%;
}

.clinic-detail-table {
    border-collapse: collapse;
}

.title-large {
    font-size: 18px;
    font-weight: bold;
}

.title-medium {
    font-size: 14px;
    font-weight: bold;
}

#about-graphic {
    float: left;
}

#about-title {
}

#about-content {
    clear: both;
}

#about-graphic img {
    padding-right: 10px;
    width: 40px;
    height: 40px;
}
